.sidebar-container{
    height: 100vh;
    width: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-row-1{
    height: 50%;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
}

.sidebar-logo{
    padding: 15px;
    margin-bottom: 40px;
}

.sidebar-logo h2{
    font-size: 14px;
    font-family: var(--font-logo);
    text-align: center;
}

.sidebar-avatar-container{
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.chooseCategoryIcon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:  wrap
}

.chooseCategoryIcon-container img{
    width: 30px;
    height: 30px;
    margin: 10px;
}

.chooseCategoryIcon-container .icon-selected{
    filter: drop-shadow(2px 4px 8px var(--light-blue));
}

.chooseCategoryIcon-container img:hover{
    filter: drop-shadow(2px 4px 8px var(--light-blue));
    cursor: pointer;
}


