.sidebar-container{
    height: 100vh;
    width: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-row-1{
    height: 50%;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
}

.sidebar-logo{
    padding: 15px;
    margin-bottom: 40px;
}

.sidebar-logo h2{
    font-size: 14px;
    font-family: var(--font-logo);
    text-align: center;
}

.sidebar-avatar-container{
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

