@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #f2f2f6;
    --secundary-color: #BFBBCC;
    --terciary-color: #0819f8;
    --dark-grey: #545356;
    --light-blue: #345ff2;

    --green: #34be4e;
    --light-green: #cbedd2;
    --orange: #f28338;
    --light-orange: #faf8f6;
    --grey: #fafafa;

    --font-logo: 'Bebas Neue', cursive;
    --font-body: 'Open Sans', sans-serif; /* Weights - 400, 600, 700*/
}
